.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BBYyvk2?w=0&h=0&q=60&m=6&f=jpg&u=t); /* Замените этот URL на URL вашего изображения */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
  }
.window {
    position: absolute;
    top: 70px;
    left: 30%;
    width: 14px;
    height: 500px;
    padding: 20px;
    /*border: 1px solid rgb(200, 20, 230);/*#2480dc;*/
    border-radius: 100%+1000px;
    box-shadow: 30px 0px 30px rgba(250, 30, 120, 1.15);
  }
  .windowr {
    position: absolute;
    top: 70px;
    left: 34%;
    width: 380px;
    height: 10px;
    padding: 20px;
    border-radius: 100%;
    /*border: 1px solid rgb(200, 20, 230);/*#2480dc;*/
    box-shadow: 0px 30px 30px rgba(250, 30, 120, 1.15);
  }
.wind {
  position: absolute;
    top: 70px;
    left: 10%;
    width: 10px;
    height: 500px;
    padding: 20px;
    border-radius: 100%;
    background-color: blanchedalmond;
    /*border: 1px solid rgb(200, 20, 230);/*#2480dc;*/
    box-shadow: 0px 30px 30px rgba(250, 30, 120, 1.15);
    border-radius: 100%+100px;
}
.krug {
  position: absolute;
    top: 50px;
    left: 370px;
    width: 550px;
    height: 550px;
    padding: 20px;
    border-radius: 100%+199px;
    /*border: 1px solid rgb(200, 20, 230);/*#2480dc;*/
    box-shadow: 0px 30px 10px rgba(250, 30, 120, 1.15);
    /*border-color: rgba(20, 30, 120, 1.15);
    border: 2px solid rgb(20, 30, 120);*/
}
